{% extends 'base_dark.html' %}
{% load static %}
{% load i18n %}

{% block body %}
        <section id="home" class="video-section js-height-full">
            <div class="overlay"></div>
            <div class="home-text-wrapper relative container">
                <div class="home-message">
                    <p> {% trans 'Learning Management System' %} </p>
                    <small>{% trans 'Edulogy is the ideal choice for your organization, your business and your online education system. Create your online course now with unlimited page templates, color options, and menu features.' %}</small>
                    <div class="btn-wrapper">
                        <div class="text-center">
                            <a href="{% url 'education:coureses' %}" class="btn btn-primary wow slideInLeft">{% trans 'Read More' %}</a> &nbsp;&nbsp;&nbsp;<a href="{% url 'education:cartview' %}" class="btn btn-default wow slideInRight">{% trans 'Buy Now' %}</a>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <div class="slider-bottom">
                <span>{% trans 'Explore' %} <i class="fa fa-angle-down"></i></span>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="custom-module">
                            <img src="{% static 'upload/device_01.png' %}" alt="" class="img-responsive wow slideInLeft">
                        </div><!-- end module -->
                    </div><!-- end col -->
                    <div class="col-md-8">
                        <div class="custom-module p40l">
                            <h2>{% trans 'We are a passionate'%} <mark>{% trans 'learning system' %}</mark> {% trans 'from'%}<br>
                            {% trans 'London. Do beautiful and easy-to-use digital'%} <br>
                            {% trans 'design & web development'%}</h2>

                            <p style="text-align: justify;">{% trans 'Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.' %}</p>
                            <hr class="invis">

                            <div class="row" style="direction: ltr;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>{% trans 'Custom Shortcodes' %}</li>
                                        <li>{% trans 'Visual Page Builder' %}</li>
                                        <li>{% trans 'Unlimited Shortcodes' %}</li>
                                        <li>{% trans 'Responsive Theme' %}</li>
                                        <li>{% trans 'Tons of Layouts' %}</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <ul class="check">
                                        <li>{% trans 'Font Awesome Icons' %}</li>
                                        <li>{% trans 'Pre-Defined Colors' %}</li>
                                        <li>{% trans 'AJAX Transitions' %}</li>
                                        <li>{% trans 'High Quality Support' %}</li>
                                        <li>{% trans 'Unlimited Options' %}</li>
                                    </ul><!-- end check -->    
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                                    <ul class="check">
                                        <li>{% trans 'Shopping Layouts' %}</li>
                                        <li>{% trans 'Pre-Defined Fonts' %}</li>
                                        <li>{% trans 'Style Changers' %}</li>
                                        <li>{% trans 'Footer Styles' %} </li>
                                        <li>{% trans 'Header Styles' %}</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 --> 
                            </div><!-- end row -->   

                            <hr class="invis">

                            <div class="btn-wrapper">
                                <a href="{% url 'education:contact' %}" style="float: left;" class="btn btn-primary">{% trans 'Contact us' %}</a>
                            </div>

                        </div><!-- end module -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section gb" style="direction: ltr;">
            <div class="container">
                <div class="section-title text-center">
                   <h3>{% trans 'Recent Courses' %}</h3>
                    <p>{% trans 'Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.'%}</p>
                </div><!-- end title -->

                <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                  
                  {% for course in courses %}
                    <div class="caro-item">
                        <div class="course-box">
                            <div class="image-wrap entry">
                                <img src="{{ course.image.url }}" style="height: 250px; width: 300px;" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a href="{% url 'education:coursesingle' course.pk %}" title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->
                            <div class="course-details">
                                <h4>
                                    <small>{{ course.name }}</small>
                                    <a href="{% url 'education:coursesingle' course.pk %}" title="">{{ course.title }}</a>
                                </h4>
                                <p style="text-align: justify; direction:rtl;">{{ course.description | truncatechars:100 }}</p>
                            </div><!-- end details -->
                            <div class="course-footer clearfix">
                                <div class="pull-left">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-user"></i>{{ course.teacher.name }}</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i>{{ course.time }}</a></li>
                                    </ul>
                                </div><!-- end left -->

                                <div class="pull-right">
                                    <ul class="list-inline">
                                        {% if course.is_free %}
                                            {% trans 'Free' %}
                                        {% else %}
                                        <li><a href="#">{{ course.price_end }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div><!-- end left -->
                            </div><!-- end footer -->
                        </div><!-- end box -->
                    </div><!-- end col -->
                {% endfor %}


                </div><!-- end row -->

                <hr class="invis">

                <div class="section-button text-center">
                    <a href="{% url 'education:coureses' %}" class="btn btn-primary">{% trans 'we all course' %}</a>
                </div>
            </div><!-- end container -->
        </section>

        <section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message text-center">
                            <h3 style="text-align: justify;">{% trans 'With the best services, the most efficient trainings, the latest training methods of the most independent teachers' %}</h3>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box m30">
                            <i style="float: left;" class="flaticon-computer-tool-for-education"></i>
                            <h4>{% trans 'Learning system' %}</h4>
                            <p>{% trans 'All sections required for online training are included to Edulogy.' %}</p>
                        </div>
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="box m30">
                            <i style="float: left;" class="flaticon-monitor-tablet-and-smartohone"></i>
                            <h4>{% trans 'Works all mobile devices' %}</h4>
                            <p>{% trans 'The most important feature of this template is that it is compatible with all mobile devices. Your customers can also visit your site easily from tablets and phones.' %}</p></div>
                    </div><!-- end col -->

                    <div class="col-md-3">
                        <div class="box m30">
                            <i style="float: left;" class="flaticon-download-business-statistics-symbol-of-a-graphic"></i>
                            <h4>{% trans 'User Dashboard' %}</h4>
                            <p>{% trans 'We designed the design of all the sub-pages needed for the users.' %}</p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <i style="float: left;" class="flaticon-html5"></i> <i style="float: left;" class="flaticon-css-3"></i>
                            <h4>{% trans 'Compatible HTML5 & CSS3' %}</h4>
                            <p>{% trans 'HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current version of the HTML standard.' %}</p></div>
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="box">
                            <i style="float: left;" class="flaticon-html-coding"></i>
                            <h4>{% trans 'Bootstrap Framework' %}</h4>
                            <p>{% trans 'Bootstrap is a technique of loading a program into a computer by means of a few initial instructions which enable the introduction of the rest of the program from an input device.' %}</p></div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section db" style="direction: ltr;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">{{students}}</h4>
                           <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i>{% trans 'Happy Students' %}</h3>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis.'%} </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">{{course}}</h4>
                            <h3><i class="flaticon-black-graduation-cap-tool-of-university-student-for-head"></i>{% trans 'Course Done' %}</h3>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis.'%} </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="stat-count">
                            <h4 class="stat-timer">{{book}}</h4>
                            <h3><i class="flaticon-coffee-cup"></i> {% trans "Ordered Coffe's" %}</h3>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis.' %}' </p>
                        </div><!-- stat-count -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>{% trans 'Testimonials' %}</h3>
                    <p>{% trans 'Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.' %}</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'upload/testimonial_01.png' %}" alt="" class="img-circle"> {% trans 'Jenny LUXURY' %}</strong></p>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.'%}</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'upload/testimonial_02.png' %}" alt="" class="img-circle">{% trans 'Martin LEO' %}</strong></p>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.'%}</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="box testimonial">
                            <p class="testiname"><strong><img src="{% static 'upload/testimonial_03.png' %}" alt="" class="img-circle"> {% trans 'John DOE' %}</strong></p>
                            <p>{% trans 'Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.'%}</p>

                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div><!-- end testimonial -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section gb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>{% trans 'Recent News' %}</h3>
                <p>{% trans 'Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.' %}</p>
                </div><!-- end title -->

                <div class="row" style="direction: ltr;">
                    {% for new in news %}
                    <div class="col-lg-4 col-md-12">
                        <div class="blog-box">
                            <div class="image-wrap entry">
                                <img src="{{ new.image.url }}" style="height: 250px; width: 300px;" alt="" class="img-responsive">
                                <div class="magnifier">
                                     <a title=""><i class="flaticon-add"></i></a>
                                </div>
                            </div><!-- end image-wrap -->

                            <div class="blog-desc">
                                <h4><a href="blog-single.html">{{ new.title }}</a></h4>
                                <p>{{ new.dexcription | truncatechars:100 }}</p>
                            </div><!-- end blog-desc -->

                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li><a href="#">{{ new.date }}</a></li>
                                </ul>
                            </div><!-- end post-meta -->
                        </div><!-- end blog -->
                    </div><!-- end col -->
                    {% endfor %}
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="section bgcolor1">
            <div class="container">
                <a href="#">
                <div class="row callout">
                    <div class="col-md-4 text-center">
                        <h3><sup>@</sup>Edulogy</h3>
                        <h4>{% trans 'Start your awesome course today!' %}</h4>
                    </div><!-- end col -->

                    <div class="col-md-8">
                        <p class="lead">{% trans 'Limited time offer! Your profile will be added to our "Students" directory as well.' %}' </p>
                    </div>
                </div><!-- end row -->
                </a>
            </div><!-- end container -->  
        </section>

{% endblock %}

{% block script %}     
<script src="{% static 'js/videobg.js' %}"></script>
{% endblock %}
