{% extends 'base_whit.html' %}
{% load static %}

{% block body %}
<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">

            <div class="row">ورود/ثبت نامم</div>

            <div class="row">
             {% if form_login %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="section-title text-center">
                            <h3>ورود به سایت</h3>
                            <p>قبلا در سایت ثبت نام کرده و حساب کاربری دارید جهت ورود  ایمیل خود همراه پسورد را وارد کنید</p>
                        </div><!-- end title -->

                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_login %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">ورود به سایت</button>
                        </form>
                    </div><!-- end col -->
                {% endif %}
                {% if form_register %}
                    <div class="col-md-3 "></div>
                    <div class="col-md-6 ">
                        <div class="section-title text-center">
                            <h3>ثبت نام در سایت</h3>
                            <p>قبلا در سایت ثبت نام نکرده اید؟دقت کنید تمامی فیلدها را پر کنید ایمیل وارد شده نباید از قبل موجود باشند</p>
                        </div><!-- end title -->

                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_register %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div><!-- end col -->
                {% endif %}

            </div><!-- end row -->
        </div>
    </div>
</section>            
{% endblock %}