{% extends 'base_whit.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">

            <div class="row">{% trans 'signup/signin' %}</div>

            <div class="row">
            {% if form_email %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="section-title text-center">
                            <h3>{% trans 'signin' %}</h3>
                            <p>{% trans 'You have not registered on the site before and you do not have an active account ' %}<a href='{% url "accounts:signup" %}' style='color:blue'>{% trans 'register in site' %}</a></p>
                        </div><!-- end title -->

                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_email %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary"> {% trans 'sending request' %}</button>
                        </form>
                    </div><!-- end col -->
                {% endif %}
             {% if form_login %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="section-title text-center">
                            <h3>{% trans 'signin' %}</h3>
                            <p>{% trans 'You have not registered on the site before and you do not have an active account ' %}<a href='{% url "accounts:signup" %}' style='color:blue'>{% trans 'register in site' %}</a></p>
                        </div><!-- end title -->

                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_login %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">{% trans 'singup' %}</button>
                        </form>
                        <p>{% trans 'forget password' %}<a href='{% url "accounts:email_form" %}' style='color:blue'>{% trans 'password recovery' %}</a></p>
                    </div><!-- end col -->
                {% endif %}
                {% if form_register %}
                    <div class="col-md-3 "></div>
                    <div class="col-md-6 ">
                        <div class="section-title text-center">
                            <h3>{% trans 'signup' %}</h3>
                            <p>{% trans 'Have you not already registered on the site? Make sure you fill in all the fields. The entered email should not already exist' %}</p>
                        </div><!-- end title -->
                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_register %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                        </form>
                    </div><!-- end col -->
                {% endif %}
                {% if form_password %}
                    <div class="col-md-3 "></div>
                    <div class="col-md-6 ">
                        <div class="section-title text-center">
                            <h3>{{user}}{% trans 'change password' %}</h3>
                        </div><!-- end title -->
                        <form class="big-contact-form" role="search" action="" method="POST" novalidate>
                            {% csrf_token %}
                            {% for field in form_password %}
                                {{ field }}
                                <p style='color:tomato'>{{ field.errors }}</p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div><!-- end col -->
                {% endif %}
            </div><!-- end row -->
        </div>
    </div>
</section>            
{% endblock %}