
{% extends 'base_whit.html' %}
{% load static %}
{% load i18n %}

{% block body %}
  
        <section class="section cb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'education:index' %}">{% trans 'Edulogy' %}</a></li>
                            <li class="active">{% trans 'profile'%}</li>
                        </ul>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section">
            <div class="container">
                    <hr class="invis">

                    <div class="row">   
                        <div class="col-md-12">
                            <div class="shop-extra">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">{% trans 'information user'%}</a></li>
                                    <li><a data-toggle="tab" href="#menu3">{% trans 'devices'%}</a></li>
                                    {% if request.user.is_admin or request.user.is_teacher %}
                                    <li><a data-toggle="tab" href="#menu1">{% trans 'emails sending' %}</a></li>
                                    <li><a data-toggle="tab" href="#menu2">{% trans 'your toturial'%}</a></li>
                                    <li><a data-toggle="tab" href="#menu4">{% trans 'paid' %}</a></li>
                                    {% endif %}
                                    <li><a data-toggle="tab" href="#menu5">{% trans 'your paid' %}</a></li>

                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <h3>{% trans 'information user'%}</h3>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td><strong>{% trans 'user email'%}</strong></td>
                                                    <td>{{ request.user.email }}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>{% trans 'user name'%}</strong></td>
                                                    <td>{{request.user.full_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td><strong>{% trans 'size'%}</strong></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="menu3" class="tab-pane fade">
                                        <h3>{% trans 'user devices'%}</h3>
                                        <table class="table">
                                            <tbody>
                                                {% for user in sessions %}
                                                    <td>{{user.date_joiin|date:"Y-m-d"}}</td>
                                                    <td>{{user.os}}</td>
                                                    <td>{{user.device}}</td>
                                                    <td>
                                                      <form action="{% url 'accounts:remove_session'%}" method="POST">
                                                          {% csrf_token %}
                                                          <input type="password" name="key" value="{{user.session_key}}" readonly hidden>
                                                          <button type="submit" class="btn btn-primary">{% trans 'submit'%}</button>
                                                      </form>
                                                    </td>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="menu1" class="tab-pane fade">
                                        <h3>{% trans 'email sending'%}</h3>
                                        <table class="table">
                                            <tbody>
                                                {% for course in courses %}
                                                    <tr>
                                                        <td><strong>{%trans 'course title'%}</strong></td>
                                                        <td>{{ course.title }}</td>
                                                    </tr>
                                                    {% for email in course.emial_course.all %}
                                                    <tr>
                                                        <td>{{ email.subject }}<----->{{email.date | date:"Y,m,d"}}</td>
                                                        <td>{{email.message}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="menu2" class="tab-pane fade">
                                        <h3>{% trans 'tour toturial'%}</h3>
                                        <ul class="nav navbar-nav navbar-right">
                                            {% for course in courses %}
                                                <li><a href="{% url 'education:coursesingle' course.slug %}"> {{course.title}} </a></li>
                                            {% endfor %}                                
                                        </ul>
                                    </div>
                                    <div id="menu4" class="tab-pane fade">
                                        <h3>{% trans 'your paid'%}</h3>
                                        <ul class="nav navbar-nav navbar-right">
                                            {% for pay in paids %}
                                                <li>{{pay.price_paide}}-{{pay.user}}-{{order.code_payment}}-{{order.date}}</li>
                                            {% endfor %}                                
                                        </ul>
                                    </div>
                                    <div id="menu5" class="tab-pane fade">
                                        <h3>{% trans 'your paid'%}</h3>
                                        <ul class="nav navbar-nav navbar-right">
                                            {% for ord in orders %}

                                                <li>{{ord.price_paide}}-{{ord.content_object.name}}-{{order.code_payment}}-{{order.date}}</li>
                                            {% endfor %}                                
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end shop-extra -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>

{% endblock %}