{% load static %}
{% load i18n %}

        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">{% trans 'Subscribe Our Newsletter'%}</h3>
                            <div class="newsletter-widget">
                                <p>{% trans 'You can opt out of our newsletters at any time.<br> See our' %}<a href="#">{% trans 'privacy policy' %}</a>.</p>
                                <form class="form-inline" role="search" method="POST" action="{% url 'education:newsletters' %}">
                                    {% csrf_token %}
                                    <div class="form-1">
                                        <input type="text" name='email' class="form-control" placeholder="Enter email here..">
                                        <input type="hidden" value='none'  name='slug' class="form-control" readonly>
                                        <input type="hidden" value={{request.get_full_path}}  name='path' class="form-control" readonly>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>
                                <img src="{% static 'images/payments.png' %}" alt="" class="img-responsive">
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">{% trans 'Join us today' %}</h3>
                            <p>{% trans 'Would you like to earn your profits by joining our team? Join us without losing time.' %}</p>
                            <a href="{% url 'education:contact' %}" class="readmore">{% trans 'Became a Teacher'%} </a>
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">{% trans 'Popular Tags'%}</h3>
                            <div class="tags-widget">   
                                <ul class="list-inline">
                                    <li><a href="{% url 'education:coureses' %}"> {% trans 'course'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'web design' %}"> {% trans 'web design'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'developer' %}"> {% trans 'development'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'language' %}">{% trans 'language'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'programming' %}"> {% trans 'programming'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'caleg' %}">{% trans 'caleg'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'math' %}">{% trans 'math'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'phyisics' %}">{% trans 'phyisics'%}</a></li>
                                    <li><a href="{% url 'education:tag' 'geraphik' %}">{% trans 'learning'%}</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">{% trans 'Support'%}</h3>
                            <div class="list-widget">   
                                <ul>
                                    <li><a> {% trans 'Terms of Use'%}</a></li>
                                    <li><a>{% trans 'Copyrights'%}</a></li>
                                    <li><a>{% trans 'Create a Ticket'%}</a></li>
                                    <li><a>{% trans 'Pricing & Plans'%}</a></li>
                                    <li><a>{% trans 'Carrier'%}</a></li>
                                    <li><a>{% trans 'Trademark'%}</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                            <a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Design : <a href="{% static 'https://html.design' %}">HTML.Design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->